[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
frida-tools = "*"
pure-python-adb = "*"
androguard = {editable = true,git = "https://github.com/androguard/androguard.git"}

[requires]
python_version = "3.7"
